<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.virginia.cs2110.rlc4sv.thebasics"
    android:versionCode="1"
    android:versionName="1.0" >
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
            <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-sdk
        android:minSdkVersion="17"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        <activity
            android:name=".screens.SplashScreen"
            android:configChanges="keyboardHidden"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".screens.MainMenu"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="edu.virginia.cs2110.rlc4sv.thebasics.MENU" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".screens.TutorialOne"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="edu.virginia.cs2110.rlc4sv.thebasics.TUTORIALONE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".screens.HelpScreen"
            android:label="@string/title_activity_help_screen"
            android:parentActivityName=".screens.MainMenu" >
            <intent-filter>
                <action android:name="edu.virginia.cs2110.rlc4sv.thebasics.HELPSCREEN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.virginia.cs2110.rlc4sv.thebasics.MainMenu" />
        </activity>
        <activity
            android:name=".screens.HighscoreScreen"
            android:label="@string/title_activity_highscore_screen"
            android:parentActivityName=".screens.MainMenu" >
            <intent-filter>
                <action android:name="edu.virginia.cs2110.rlc4sv.thebasics.HIGHSCORESCREEN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.virginia.cs2110.rlc4sv.thebasics.MainMenu" />
        </activity>
        <activity
            android:name=".screens.MainGame"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_main_game" >
            <intent-filter>
                <action android:name="edu.virginia.cs2110.rlc4sv.thebasics.MAINGAME" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".screens.SettingsMenu"
            android:label="@string/title_activity_settings_menu"
            android:parentActivityName=".screens.MainMenu" >
            <intent-filter>
                <action android:name="edu.virginia.cs2110.rlc4sv.thebasics.SETTINGSMENU" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.virginia.cs2110.rlc4sv.thebasics.MainMenu" />
        </activity>
        <activity
            android:name=".screens.TheProfileSelector"
            android:label="@string/title_activity_the_profile_selector"
            android:parentActivityName=".screens.MainMenu" >
            <intent-filter>
                <action android:name="edu.virginia.cs2110.rlc4sv.thebasics.THEPROFILESELECTOR" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.virginia.cs2110.rlc4sv.thebasics.screens.MainMenu" />
        </activity>
        <activity
            android:name="edu.virginia.cs2110.rlc4sv.thebasics.screens.GameOver"
            android:label="@string/title_activity_game_over" >
            <intent-filter>
                <action android:name="edu.virginia.cs2110.rlc4sv.thebasics.GAMEOVER" />
                
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>
